*{
    padding: 0px;
    margin: 0px;
}
#slider{
    text-align: center;
    /* border: 1px solid red; */
    color: white;
}
#slider>h4{
    /* border: 1px solid white; */
    align-items: center;
    background-color: #0f0f0f;
    padding: 10px 0px;
}
#slider1{
    /* border: 1px solid red; */

}
#slider1>img{
    width: 100%;
    height: 500px;
}
#shop{
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    gap: 15px;
}
#shop img{
    width: 100%;
    
}
#category{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
#heading>h1{
    text-align: center;
     padding: 20px 0px;
     margin-top: 30px;
}
#category img{
    width: 90%;
    height: 300px;
}
#category p{
    /* border: 1px solid red; */
    text-align: center;
}