* {
  padding: 0px;
  margin: 0px;
}
#slider1 > img {
  width: 100%;
  height: 450px;
}
#shop {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  gap: 15px;
  margin-bottom: 25px;
}
#shop img {
  width: 100%;
}
#category {
  /* height: 300px; */
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#heading > h1 {
  text-align: center;
  padding: 20px 0px;
  margin-top: 30px;
}
#category img {
  width: 90%;
  height: 300px;
}
#category p {
  /* border: 1px solid red; */
  text-align: center;
}
#slider2 {
  margin-bottom: 30px;
  margin-top: 30px;
}
#slider2 > img {
  width: 100%;
  height: 400px;
}
#heading1 {
  margin: auto;
  width: 80%;
  height: 80%;
}
#heading1 > h1 {
  text-align: center;
  padding: 20px 0px;
  margin-top: 30px;
}
#heading1 button {
  /* border: 1px solid red; */
  display: block;
  margin: auto;
  font-family: sans-serif;
  padding: 8px 20px;
  font-size: 20px;
  background-color: white;
  border: 1px solid #c9c0c0;
}
#newArrivals {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 95%;
  margin: auto;
}
#newArrivals > div > a > img {
  width: 100%;
  height: 300px;
}
#newArrivals > div > p {
  /* border: 1px solid red; */
  width: 80%;
  text-align: center;
}
#newArrivals > div > p > span {
  color: red;
}
#heading2 > h1 {
  text-align: center;
  padding: 20px 0px;
  margin-top: 30px;
}
#heading2 button {
  /* border: 1px solid red; */
  display: block;
  margin: auto;
  padding: 8px 20px;
  background-color: white;
  border: 1px solid rgb(100, 96, 96);
}
#trandingNow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 95%;
  margin: auto;
}
#trandingNow > div > a > img {
  width: 100%;
  height: 300px;
}
#trandingNow > div > p {
  /* border: 1px solid red; */
  width: 80%;
  text-align: center;
}
#trandingNow > div > p > span {
  color: red;
}

/* slide show */

/* .parent {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.child {
  
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}
.child img {
  width: 100%;
  height: 200px;
}
#leftarrow,
#rightarrow {
  margin-left: 12px;
  width: 3%;
  display: inline-block;
}
#leftarrow button,
#rightarrow button {
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
} */

html,
body {
  position: relative;
  /* height: 100%; */
}

body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* color: #000; */
  margin: 0;
  padding: 0;
}

.swiper {
  width: 95%;
  /* border: 1px solid red; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 650px;
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
