#create {
  margin-bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 2.375em;
  font-family: Tiemann, serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 15px;
  display: block;
  box-sizing: border-box;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  color: #000;
  /* margin-top: 200px; */
}
#main {
  width: 35%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000;
}
#main {
  width: 40%;
  margin: auto;
}
#login {
  border: 0px solid red;
  height: auto;
  display: grid;
  margin: auto;
  /* position: relative; */
}
#login > input {
  height: 43px;
  border: 1px solid #e8e8e1;
  display: block;
  margin-bottom: 30px;
  width: 100%;
  background-color: inherit;
  color: inherit;
  border: 1px solid #e8e8e1;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid #e8e8e1;
  display: grid;

  height: 50px;
  font-size: 14px;
  padding: 0px 0px;

  margin-bottom: 10px;
  text-align: center;
  text-decoration: solid;
  font-size: large;
}
#login > p {
  height: auto;
  width: 300px;
  height: 20px;
  font-size: 0.75em;
  border: px solid red;
  font-family: Futura, sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
}

#login > button {
  background: #111111;
  border: 1px solid black;
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
  line-height: 1.42;
  text-decoration: none;
  text-align: center;
  white-space: normal;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-family: Futura, sans-serif;
}
#fpass {
  border: px solid red;
  display: flex;
  justify-content: space-between;
}
#atag {
  border: px solid red;
  text-align: center;
  margin-top: 10px;
}
#atag > a {
  text-decoration: none;
  font-size: large;
  text-decoration-color: #000;
  color: #000;
  text-decoration: none;
  background: transparent;
  font-family: Futura, sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}
label {
  letter-spacing: 0;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.75em;
  display: block;
  margin-bottom: 10px;
  list-style: none;
  font-weight: 400;
  font-family: Futura, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  color: #000;
  background-color: #fff;
}
